# Dependencies 
node_modules 
package*.json
release.config.js
create_ci_workflow.yml

# Python cache
__pycache__
*.pyc

# Virtual environments
.venv

# Development files 
.git
.github
.gitignore

# Documentation 
README.md
CHANGELOG.md
*.csv
*.png

